body {
background: green;
text-align: center;
}
#main {
	width: 1000px;
	height: 600px;
	background: purple;
	margin: 25px auto;
	border: solid 5px gray;
	padding: 10px;
}
h1 {
	text-align: center;
	font font-family: "Times New Roman";
	font: 24pt;
	color: white;
}
hr{
	height: 2px;
	color: gray;
}
p {
	font-family:"Calibri";
	font-size: 12pt;
	text-align: left;
	text-indent: 48px;
	color: black
}